.login-btn {
  background-color: greenyellow;
  color: white;
  padding: 10px 0;
}
.login-btn:hover {
  color: black;
}

.no-account a {
  color: red;
}

.login-container{
  margin-top: 200px;
}
.login{
  background: url('../../images//Others/signup-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}